.a {
  color: red;
}

@media (min-width: 240px) {
  .a {
    color: green;
  }
}

@media (min-width: 360px) {
  .a {
    color: blue;
  }
  .d {
    display: block;
  }
}

@media (min-width: 480px) {
  .d {
    color: red;
  }
}

.b {
  color: red;
  font-size: 12px;
}

@media (min-width: 240px) {

  .b {
    color: green;
  }
}

@media (min-width: 360px) {

  .b {
    color: blue;
  }
}

.c {
  font-size: 16px;
}

@media (min-width: 360px) {

  .c {
    display: block;
  }
}

@media (min-width: 480px) {

  .c {
    color: red;
  }
}
